{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Employee Management System</a>
    </div>
  </nav>
  <form method="POST" class="post-form" action = '/update/{{employee.Eid}}'>
    {% csrf_token %}
    <div class="container">
      <div class="from-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Update Details:</h3>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Employee Id:</label>
        <div class="col-sm-4">
          <input type="text" name="Eid" id="id_Eid" required maxlength="20" value="{{ employee.Eid }}"/>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Employee Name:</label>
        <div class="col-sm-4">
          <input type="text" name="Ename" id="id_Ename" required maxlength="100" value="{{ employee.Ename }}"/>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Employee Email:</label>
        <div class="col-sm-4">
          <input type="email" name="Eemail" id="id_Eemail" required maxlength="254" value="{{ employee.Eemail }}"/>
        </div>
      </div>

      <div class="from-group row">
        <label class="col-sm-2 col-form-label">Employee Contact:</label>
        <div class="col-sm-4">
          <input type="text" name="Econtact" id="id_Econtact" required maxlength="20" value="{{ employee.EContact }}"/>

        </div>
      </div>

      <div class="form-group row">  
        <label class="col-sm-3 col-form-label"></label>  
        <div class="col-sm-4">  
          <button type="submit" class="btn btn-success">Update</button>  
        </div>  
      </div>

    </div>
  </form>
</body>
</html>